<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzhk.wxg.mapper.HabitMapper">
    <select id="selectHabitList" resultType="com.nzhk.wxg.business.habit.bean.HabitListResData">
        select h.*, hci.id checkInId from habit h
        left join
        (select * from habit_check_in where user_id = #{userId} and check_in_date = #{nowDate}) hci
        on h.id = hci.habit_id
        <where>
            h.user_id = #{userId} and status = 1
            <if test="habitTypeId != '' and habitTypeId != null">
                and h.habit_type_id = #{habitTypeId}
            </if>
        </where>
        order by h.create_time desc
    </select>
    <select id="selectArchiveHabitList" resultType="com.nzhk.wxg.business.habit.bean.HabitListResData">
        select h.*, ht.name as habit_type_name from habit h
        left join habit_type ht on h.habit_type_id = ht.id and ht.user_id = h.user_id
        <where>
            h.user_id = #{userId} and h.status = 2
            <if test="habitTypeId != '' and habitTypeId != null">
                and h.habit_type_id = #{habitTypeId}
            </if>
        </where>
        order by h.archive_date_time desc
    </select>
</mapper>
